version: 1.0.{build}
skip_tags: true
skip_commits:
  message: /^chore(release)/
branches:
  only:
  - main
  - /preview\/*/ 
  - /release\/*/
image: 
- Visual Studio 2022
environment:
  GH_TOKEN: 
    secure: /o9VAhx5ewGmdLR9qcgFJMzBaCuzOmGlsXAHu7khUJLdQzsv4gJzLUfYDghcRPHd
  donetsdk: 10.0.100
  JAVA_HOME: C:\Program Files\Java\jdk21
  PATH: $(JAVA_HOME)\bin;$(PATH)
init:
  - cmd: git config --global core.autocrlf true
install:
  - ps: Install-Product node 20 x64
  - ps: dotnet tool install --global GitVersion.Tool
  - ps: dotnet gitversion /l console /output buildserver
  - ps: dotnet tool install --global dotnet-sonarscanner
  - ps: .\dotnet-install.ps1 -Version $env:donetsdk
  - cmd: nuget install ReportGenerator -ExcludeVersion
  - ps: |
      Invoke-WebRequest https://dl.google.com/android/repository/commandlinetools-win-11076708_latest.zip -OutFile cmdline-tools.zip
      Expand-Archive cmdline-tools.zip -DestinationPath C:\Android\
      mkdir C:\Android\cmdline-tools\latest
      Move-Item C:\Android\cmdline-tools\* C:\Android\cmdline-tools\latest\ -For
  - setx ANDROID_HOME "C:\Android"
  - setx ANDROID_SDK_ROOT "C:\Android"
  - setx PATH "%PATH%;C:\Android\cmdline-tools\latest\bin;C:\Android\platform-tools"
  - ps: ./appveyorinit.ps1
before_build:
  - cmd: C:\Android\cmdline-tools\latest\bin\sdkmanager.bat --list
  - cmd: yes | C:\Android\cmdline-tools\latest\bin\sdkmanager.bat --licenses
  - cmd: C:\Android\cmdline-tools\latest\bin\sdkmanager.bat "platform-tools" "platforms;android-34" "build-tools;34.0.0"
build_script:
  - ps: ./build.ps1
test_script:
  - cmd: publish.cmd
artifacts:
  - path: artifacts/**/*.nupkg
    name: nuget
deploy:
  - provider: NuGet
    api_key:
      secure: IvRjdQGkzrRwGoVkIOi82WddV/UwEm3t0IIhUkL4Ju3PyPRdDMOgAeHLuSmnPLcM
    on:
      branch: 
      - /preview\/*/
      - /release\/*/
      CI_WINDOWS: true
  - provider: GitHub
    auth_token: $(GH_TOKEN)
    draft: true
    prerelease: true
    release: $(Version)
    artifact: /.*\.nupkg/
    on:
      branch: 
      - /preview\/*/
      CI_WINDOWS: true
  - provider: GitHub
    auth_token: $(GH_TOKEN)
    draft: true
    release: $(Version)
    artifact: /.*\.nupkg/
    on:
      branch: 
      - /release\/*/
      CI_WINDOWS: true
for:
-
  branches:
    only:
      - /release\/*/
  on_success:
      - cmd: semantic-release -b %APPVEYOR_REPO_BRANCH%
